@tailwind base;
@tailwind components;
@tailwind utilities;

/* utilities */
@layer utilities{
    .animation-delay-2s{
        animation-delay: 2s;
    }
    .animation-delay-4s{
        animation-delay: 4s;
    }
    .animation-delay-6s{
        animation-delay: 6s;
    }
}

/* drop down */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* adding tool tips */
.tooltip {
    @apply invisible absolute;
}

/* show tooltip */
.has-tooltip:hover .tooltip {
    @apply visible z-50;
}

/* custom scroll bar on chrome and latest version of firefox and supported browsers */
/* the custom scroll bar applies to only users running on latest versions of google chrome and firefox */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 2000px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2000px;

}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* custom scroll ends here */
